<form action="Results" method="post">
    <p>First Name:</p><input name="FirstName" type="text" />
    <p>Last Name:</p><input name="LastName" type="text" />
    <p>Email:</p><input name="Email" type="email" />
    <p>Phone Number:</p><input name="Phone" type="tel" />
    <p>Password</p><input name="Password" type="password" />



    <input type="submit"value="Register" />


</form>
